<?xml version="1.0" encoding="UTF-8"?>
<!--have to remove homepage and msg_markread servlet from here to work-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateBid</servlet-name>
        <servlet-class>CreateBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBid</servlet-name>
        <servlet-class>EditBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msg_delete</servlet-name>
        <servlet-class>msg_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msg_submit</servlet-name>
        <servlet-class>msg_submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBid</servlet-name>
        <servlet-class>UploadBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_review</servlet-name>
        <servlet-class>user_review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_verify</servlet-name>
        <servlet-class>user_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageRetrieve</servlet-name>
        <servlet-class>ImageRetrieve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBid</servlet-name>
        <url-pattern>/CreateBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBid</servlet-name>
        <url-pattern>/EditBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msg_delete</servlet-name>
        <url-pattern>/msg_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msg_submit</servlet-name>
        <url-pattern>/msg_submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBid</servlet-name>
        <url-pattern>/UploadBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_review</servlet-name>
        <url-pattern>/user_review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_verify</servlet-name>
        <url-pattern>/user_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageRetrieve</servlet-name>
        <url-pattern>/ImageRetrieve</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>