@font-face {
    font-family: 'poppins';
    src: url('../img/poppins/Poppins-Regular.ttf') format('truetype');
}
* {
    font-family: 'poppins';
    box-sizing: border-box;
}


:root {
    --site_orange: #ff4500;
    --site_orange_shadow: #B23000;
    --site_gray_dark: #4f4f51;
    --site_gray_light: #d6d6d6;
    --site_black: #2c2b30;
}

body { 
    margin: 0;
    font-family: 'poppins';
    background-color: #f8fafb;
}

.main_body{
    display: flex;
    justify-content: center;
    padding: 50px 15% 10px 15%;
    padding-top: 107px;
}

.page_title{
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    line-height: 70px;
    letter-spacing: 2px;
    text-decoration: underline;
    z-index: -1;
}

.creation_form {
    z-index: -1;
    position: absolute;
    margin: 0;
    top: 498px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin-bottom: 50px;
    height: auto;
    box-shadow: none;
}

.creation_form input[type=text], input[type=number], input[type=time], input[type=date], .creation_form textarea{
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
}

.creation_form textarea{
    margin-bottom: 0;
}

.creation_form input[type=file] {
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
}

.creation_form input[type=submit]:hover {
    background-color: #45a049;
}

.creation_form #field_title{
    padding: 10px 10px 10px 5px;
    font-weight: bold;
    letter-spacing: 2px;
}

.creation_form #box70{
    width: 65%;
    float: left;
    margin-right: 5%;
    display: inline-block;
}

.creation_form #box30_long{
    width: 30%;
    float: right;
    margin-right: 0px;
    display: inline-block;
}

.creation_form .panel{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 420px;
    background-color: white;
}

.creation_form .panel #left{
    width: 50%;
    float: left;
}

.creation_form .panel #right{
    width: 50%;
    float: right;
}

.creation_form #box35{
    width: 30%;
    float: left;
    margin-right: 5%;
    display: inline-block;
}

.creation_form #box30{
    width: 20%;
    float: left;
    margin-right: 5%;
    display: inline-block;
}

.creation_form #box_radio{
    width: 15%;
    float: right;
    display: inline-block;
}

.creation_form .button {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 15px 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1em;
    background: var(--site_orange);
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.creation_form .button:hover, creation_form .button:focus {
    background: var(--site_orange_shadow);
    color: white;
}

.creation_form .button-block {
    display: block;
    width: 500px;
    height: 70px;
    margin: auto;
}

.creation_form button, .creation_form input[type="submit"]{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}