@font-face {
    font-family: 'poppins';
    src: url('../img/poppins/Poppins-Regular.ttf') format('truetype');
}
* {
    font-family: 'poppins';
    box-sizing: border-box;
}


:root {
    --site_orange: #ff4500;
    --site_orange_shadow: #B23000;
    --site_gray_dark: #4f4f51;
    --site_gray_light: #d6d6d6;
    --site_black: #2c2b30;
}

body{
    font-family: 'poppins';
}


.header .welcome_box {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 23px;
}

.main_body{
    justify-content: center;
    padding: 50px 15% 10px 15%;
}
.table_container{
    width:100%;
    height: auto;
    margin: auto;
    margin-top: 70px;
    display: block;
}

table{
    z-index: -1;
    margin: auto;
    align-self: center;
    cursor: pointer;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px 16px 8px 16px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--site_orange);
    color: white;
}

td:nth-child(6){
    border: 0px;
}

.verify{
    font-style: italic;
    text-decoration: none;
    color: var(--site_gray_dark);
    background-color: transparent !important;

}

.buttons_container{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}

.buttons_container .dbutton {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 8px 0;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1em;
    background: var(--site_orange);
    color: #ffffff;
}

.buttons_container .dbutton:hover, buttons_container .dbutton:focus {
    background: var(--site_orange_shadow);
    color: white;
}

.buttons_container .dbutton-block {
    display: inline-block;
    width: 250px;
    height: 70px;
    margin: auto 10px auto 10px;
    text-decoration: none;
}